{% extends 'base.html.twig' %}

{% block title %}Config index{% endblock %}

{% block body %}
    <h1>Config index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Template_id</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr>
                <td>{{ config.id }}</td>
                <td>{{ config.name }}</td>
                <td>{{ config.value }}</td>
                <td>{{ config.templateId }}</td>
                <td>{{ config.createdAt ? config.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ config.updatedAt ? config.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('config_show', {'id': config.id}) }}">show</a>
                    <a href="{{ path('config_edit', {'id': config.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('config_new') }}">Create new</a>
{% endblock %}
